header {
  position: fixed;
  top: 10px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 10vh;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  flex: 0 0 auto;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.logo {
  font-weight: bold;
  font-size: xx-large;
  font-family: "LexendDeca";
  color: #1c1c1c;
}

.Header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 0px;
  min-height: 0px;
  flex-direction: column;
  opacity: 0;
  animation: 1s ease 0s 1 normal forwards running intro;
}

.Header > header {
  display: flex;
  left: 0;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  min-width: 0px;
  min-height: 0px;
  flex-direction: row;
  /* flex: 0 0 auto; */
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.Header > header > .Left {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 0px;
  min-height: 0px;
  flex-direction: row;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10px;
}

.Header > header > .Right {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 0px;
  min-height: 0px;
  flex-direction: row;
  width: 100%;
  height: 100%;
  -webkit-box-pack: end;
  justify-content: flex-end;
  align-items: center;
}

.Header > header > .Left > h1 {
  margin: 0;
}

button.Connect {
  border-radius: 25px;
  transition: transform 0.2s ease 0s, box-shadow 0.2s ease 0s;
  background: rgb(248, 248, 248);
  border: 1px solid rgb(248, 248, 248);
  box-shadow: rgb(233 233 233) 0px 0px 0px, rgb(255 255 255) 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
  height: 6vh;
  font-family: "NotoSans-Regular";
  color: #1c1c1c;
  font-size: large;
}

button.Connect:hover {
  border: 1px solid rgb(248, 248, 248);
  transform: scale(1.02);
  box-shadow: rgb(233 233 233) 6px 6px 11px, rgb(255 255 255) -6px -6px 11px;
}

button.Connect:focus {
  outline: none;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
