.select-box {
  z-index: 10;
  position: fixed;
  top: 20vh;
  display: flex;
  box-sizing: border-box;
  width: 30%;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-between;
  animation: 1s ease 0s 1 normal forwards running intro;
}

.button-mode {
  display: flex;
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
  background-color: transparent;
  font-family: "LexendDeca";
  border: 0;
}

.button-other {
  cursor: pointer;
}

.button-other:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out 0s;
}
